.day {
    height: 150px;
    margin: 10px;
    border: 1px solid #000000;
    width: 150px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hide_day {
    height: 150px;
    width: 150px;
    border: 0px solid #000000;
    margin: 10px;   
}
.today {
    background-color: #FFFD96;
}
.day_message {
    font-weight: bold;
}
.title {
    font-size: 28px;
    text-align: center;
}
.day ul {
    padding-left: 0;
    list-style-position: inside;
    position: relative;
    list-style: none;
}
.day li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.day li:before {
    content: '\2022 ';
}
 .view_type {
    border: 1px solid #C2C4BF;
    background-color: #E0E3DD;
    text-align: center;
    border-radius: 5%;
    width: 80px;
    margin: 10px 5px;
 }
 .selected {
    background-color: #EBED0A
 }
 .view_type_container {
    display:flex;
    justify-content:center;
    align-items:center;
 }
.view_type:hover {
    cursor: pointer;
}
